ekf_filter_node:
  ros__parameters:
    use_sim_time: true
    frequency: 30.0
    two_d_mode: true
    publish_acceleration: false
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_footprint
    world_frame: odom

    odom0: /wheel_odom
    odom0_config: [false, false, false,
                  false, false, false,
                  true,  true,  false,
                  false, false, true,
                  false, false, false]
    odom0_differential: false
    odom0_relative: false

    imu0: /imu/data_raw
    imu0_config: [false, false, false,  # X, Y, Z (Position)
                  true,  true,  true,   # Roll, Pitch, Yaw (Orientation)
                  false, false, false,  # VX, VY, VZ (Velocity)
                  true,  true,  true,   # V_Roll, V_Pitch, V_Yaw (Angular Vel)
                  true,  true,  false]  # AX, AY, AZ (Acceleration) - X,Y enabled!
    imu0_differential: false            # (orientation is absolute)
    imu0_relative: true
    imu0_remove_gravitational_acceleration: true
